#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lavenderblush;
  color: black;
  border-radius: 50px;
}

body { 
  background-color: azure;
  background: url(https://c8.alamy.com/comp/2DH9C48/seamless-pattern-of-cute-dog-puppy-symbol-toy-paw-footstep-cartoon-funny-and-happy-dog-concept-with-simple-shape-style-illustration-for-background-wallpaper-textile-fabric-2DH9C48.jpg);
}

.App {
font-size: 25px;
font-family:Verdana, Geneva, Tahoma, sans-serif;

}

h3 {
  color: orange;
}

p:hover {
  color: orange;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
